.backButton2 {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.backButton2:hover {
    background-color: rgba(255, 255, 255, 0.1);
}