@tailwind base;
@tailwind components;
@tailwind utilities;

Body {
  background-color: rgb(34, 34, 34);
}

.starsIconColor {
  color: rgb(250 204 21);
}

.profileIconColor {
  color: rgb(0, 129, 250);
}